*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  
  border: solid 1px red;
}
body{
  background:#00a5ff;
  background-image:linear-gradient(#00a5ff,#bee3f7);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 800px;
  margin: 0;
}
.ferris.wheel{
  position: relative;
  width: 550px;
  height: 600px;
  left: 150px; top: 70px;
}
.s{
  position: absolute;
  background: #ff8c00;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  left: 210px; top: 200px;
}
.s1{
  position: absolute;
  background: #8f938f;
  width:300px;
  height: 15px;
  left: 220px; top: 430px;
  transform: rotate(70deg);
  z-index: -1;
}
.s2{
  position: absolute;
  background: #8f938f;
  width:300px;
  height: 15px;
  left: 39px; top: 430px;
  transform: rotate(-72deg);
  z-index: -1;
}
.w{
  position: absolute;
  border: solid 2px #d7ddd7 ;
  width: 400px;
  height: 400px ;
  border-radius: 50%;
  left: 80px; top: 70px;
}
.w1{
  position: absolute;
  background: #d7ddd7;
  width: 5px;
  height: 150px;
  left: 270px; top: 70px; 
  z-index: -1;
}
.w2{
  position: absolute;
  background: #d7ddd7;
  width: 5px;
  height: 150px;
  left: 271px; top: 320px; 
  z-index: -1;
}
.w3{
  position: absolute;
  background: #d7ddd7;
  width:150px;
  height: 5px;
  left: 330px; top: 265px;
  z-index: -1;
}
.w4{
  position: absolute;
  background: #d7ddd7;
  width:150px;
  height: 5px;
  left: 80px; top: 265px;
  z-index: -1;
}
.w5{
  position: absolute;
  background: #d7ddd7;
  width:150px;
  height: 5px;
  transform: rotate(135deg);
  left: 287px; top: 175px;
  z-index: -1;
}
.w6{
  position: absolute;
  background: #d7ddd7;
  width:150px;
  height: 5px;
  transform: rotate(315deg);
  left: 116px; top: 353px;
  z-index: -1;
}
.w7{
  position: absolute;
  background: #d7ddd7;
  width:150px;
  height: 5px;
  transform: rotate(225deg);
  left: 293px; top: 354px;
  z-index: -1;
}
.w8{
  position: absolute;
  background: #d7ddd7;
  width:150px;
  height: 5px;
  transform: rotate(405deg);
  left: 118px; top: 181px;
  z-index: -1;
}
.c1{
  position: absolute;
  background: #fc00c1;
  width: 90px;
  height: 90px;
  border-radius:50%;
  left: 228px; top: 30px;
  animation-name:c1move;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-direction: normal;
}
@keyframes c1move{
  0%{ left: 228px; top: 30px;}
  12%{ left: 370px; top: 85px;}
  24%{ left: 430px; top: 220px;}
  36%{ left: 380px; top: 360px;}
  48%{ left: 228px; top: 420px;}
  60%{ left: 90px; top: 360px;}
  72%{ left: 40px; top: 220px;}
  84%{ left: 85px; top: 85px;}
  100%{left: 228px; top: 30px;}
}
.c1:before{
  content:'';
  position: absolute;
  background: #00effc;
  width: 35px;
  height: 35px;
  border-radius: 0 100% 0 0 ;
  left: 47px; top: 9px;
}
.c1:after{
  content:'';
  position: absolute;
  background: #00effc;
  width: 35px;
  height: 35px;
  border-radius: 100% 0 0  0  ;
  left: 7px; top: 9px;
}
.c2{
  position: absolute;
  background: #fc00c1;
  width: 90px;
  height: 90px;
  border-radius:50%;
  left: 370px; top: 85px;
  animation-name:c2move;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-direction: normal;
}
@keyframes c2move{
  0%{ left: 370px; top: 85px;}
  12%{ left: 430px; top: 220px;}
  24%{ left: 380px; top: 360px;}
  36%{ left: 228px; top: 420px;}
  48%{ left: 90px; top: 360px;}
  60%{ left: 40px; top: 220px;}
  72%{ left: 85px; top: 85px;}
  84%{ left: 228px; top: 30px;}
  100%{ left: 370px; top: 85px;}
}
.c2:before{
  content:'';
  position: absolute;
  background: #00effc;
  width: 35px;
  height: 35px;
  border-radius: 0 100% 0 0 ;
  left: 47px; top: 9px;
}
.c2:after{
  content:'';
  position: absolute;
  background: #00effc;
  width: 35px;
  height: 35px;
  border-radius: 100% 0 0  0  ;
  left: 7px; top: 9px;
}
.c3{
  position: absolute;
  background: #fc00c1;
  width: 90px;
  height: 90px;
  border-radius:50%;
  left: 430px; top: 220px;
  animation-name:c3move;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-direction: normal;
}
@keyframes c3move{
  0%{ left: 430px; top: 220px;}
  12%{ left: 380px; top: 360px;}
  24%{ left: 228px; top: 420px;}
  36%{ left: 90px; top: 360px;}
  48%{ left: 40px; top: 220px;}
  60%{ left: 85px; top: 85px;}
  72%{ left: 228px; top: 30px;}
  84%{ left: 370px; top: 85px;}
  100%{  left: 430px; top: 220px;}
}
.c3:before{
  content:'';
  position: absolute;
  background: #00effc;
  width: 35px;
  height: 35px;
  border-radius: 0 100% 0 0 ;
  left: 47px; top: 9px;
}
.c3:after{
  content:'';
  position: absolute;
  background: #00effc;
  width: 35px;
  height: 35px;
  border-radius: 100% 0 0  0  ;
  left: 7px; top: 9px;
}
.c4{
  position: absolute;
  background: #fc00c1;
  width: 90px;
  height: 90px;
  border-radius:50%;
  left: 380px; top: 360px;
  animation-name:c4move;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-direction: normal;
}
@keyframes c4move{
  0%{ left: 380px; top: 360px;}
  12%{ left: 228px; top: 420px;}
  24%{ left: 90px; top: 360px;}
  36%{ left: 40px; top: 220px;}
  48%{ left: 85px; top: 85px;}
  60%{ left: 228px; top: 30px;}
  72%{ left: 370px; top: 85px;}
  84%{  left: 430px; top: 220px;}
  100%{ left: 380px; top: 360px;}
}
.c4:before{
  content:'';
  position: absolute;
  background: #00effc;
  width: 35px;
  height: 35px;
  border-radius: 0 100% 0 0 ;
  left: 47px; top: 9px;
}
.c4:after{
  content:'';
  position: absolute;
  background: #00effc;
  width: 35px;
  height: 35px;
  border-radius: 100% 0 0  0  ;
  left: 7px; top: 9px;
}
.c5{
  position: absolute;
  background: #fc00c1;
  width: 90px;
  height: 90px;
  border-radius:50%;
  left: 228px; top: 420px;
  animation-name:c5move;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-direction: normal;
}
@keyframes c5move{
  0%{ left: 228px; top: 420px;}
  12%{ left: 90px; top: 360px;}
  24%{ left: 40px; top: 220px;}
  36%{ left: 85px; top: 85px;}
  48%{ left: 228px; top: 30px;}
  60%{ left: 370px; top: 85px;}
  72%{  left: 430px; top: 220px;}
  84%{ left: 380px; top: 360px;}
  100%{ left: 228px; top: 420px;}
}
.c5:before{
  content:'';
  position: absolute;
  background: #00effc;
  width: 35px;
  height: 35px;
  border-radius: 0 100% 0 0 ;
  left: 47px; top: 9px;
}
.c5:after{
  content:'';
  position: absolute;
  background: #00effc;
  width: 35px;
  height: 35px;
  border-radius: 100% 0 0  0  ;
  left: 7px; top: 9px;
}
.c6{
  position: absolute;
  background: #fc00c1;
  width: 90px;
  height: 90px;
  border-radius:50%;
  left: 90px; top: 360px;
  animation-name:c6move;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-direction: normal;
}
@keyframes c6move{
  0%{ left: 90px; top: 360px;}
  12%{ left: 40px; top: 220px;}
  24%{ left: 85px; top: 85px;}
  36%{ left: 228px; top: 30px;}
  48%{ left: 370px; top: 85px;}
  60%{  left: 430px; top: 220px;}
  72%{ left: 380px; top: 360px;}
  84%{ left: 228px; top: 420px;}
  100%{ left: 90px; top: 360px;}
}
.c6:before{
  content:'';
  position: absolute;
  background: #00effc;
  width: 35px;
  height: 35px;
  border-radius: 0 100% 0 0 ;
  left: 47px; top: 9px;
}
.c6:after{
  content:'';
  position: absolute;
  background: #00effc;
  width: 35px;
  height: 35px;
  border-radius: 100% 0 0  0  ;
  left: 7px; top: 9px;
}
.c7{
  position: absolute;
  background: #fc00c1;
  width: 90px;
  height: 90px;
  border-radius:50%;
  left: 40px; top: 220px;
  animation-name:c7move;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-direction: normal;
}
@keyframes c7move{
  0%{ left: 40px; top: 220px;}
  12%{ left: 85px; top: 85px;}
  24%{ left: 228px; top: 30px;}
  36%{ left: 370px; top: 85px;}
  48%{  left: 430px; top: 220px;}
  60%{ left: 380px; top: 360px;}
  72%{ left: 228px; top: 420px;}
  84%{ left: 90px; top: 360px;}
  100%{ left: 40px; top: 220px;}
}
.c7:before{
  content:'';
  position: absolute;
  background: #00effc;
  width: 35px;
  height: 35px;
  border-radius: 0 100% 0 0 ;
  left: 47px; top: 9px;
}
.c7:after{
  content:'';
  position: absolute;
  background: #00effc;
  width: 35px;
  height: 35px;
  border-radius: 100% 0 0  0  ;
  left: 7px; top: 9px;
}
.c8{
  position: absolute;
  background: #fc00c1;
  width: 90px;
  height: 90px;
  border-radius:50%;
  left: 85px; top: 85px;
  animation-name:c8move;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-direction: normal;
}
@keyframes c8move{
  0%{ left: 85px; top: 85px;}
  12%{ left: 228px; top: 30px;}
  24%{ left: 370px; top: 85px;}
  36%{  left: 430px; top: 220px;}
  48%{ left: 380px; top: 360px;}
  60%{ left: 228px; top: 420px;}
  72%{ left: 90px; top: 360px;}
  84%{ left: 40px; top: 220px;}
  100%{ left: 85px; top: 85px;}
}
.c8:before{
  content:'';
  position: absolute;
  background: #00effc;
  width: 35px;
  height: 35px;
  border-radius: 0 100% 0 0 ;
  left: 47px; top: 9px;
}
.c8:after{
  content:'';
  position: absolute;
  background: #00effc;
  width: 35px;
  height: 35px;
  border-radius: 100% 0 0  0  ;
  left: 7px; top: 9px;
}
.star{
  position:absolute;
  width: 100px;
  height: 100px;
  left: 378px; top: 390px;
  transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;
}
.star:hover{
  transform: rotate(500deg);
  top: 0px; left: 800px;
}
.a{
  position: absolute;
  background: #ffffff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  left: 25px; top: 25px;
}

.a1{
  position: absolute;
  background: transparent;
  width: 0;
  height: 0;
  border-bottom: 35px solid #ffffff;
  border-left: 22px solid transparent;
  border-right: 22px solid transparent;
  left: 28px; top: 1px;
}
.a2{
  position: absolute;
  background: transparent;
  width: 0;
  height: 0;
  border-bottom: 35px solid #ffffff;
  border-left: 22px solid transparent;
  border-right: 22px solid transparent;
  left: 56px; top: 18px;
  transform: rotate(59deg);
}
.a3{
  position: absolute;
  background: transparent;
  width: 0;
  height: 0;
  border-bottom: 35px solid #ffffff;
  border-left: 22px solid transparent;
  border-right: 22px solid transparent;
  left: 49px; top: 55px;
  transform: rotate(138deg);
}
.a4{
  position: absolute;
  background: transparent;
  width: 0;
  height: 0;
  border-bottom: 35px solid #ffffff;
  border-left: 22px solid transparent;
  border-right: 22px solid transparent;
  left: 9px; top: 53px;
  transform: rotate(224deg);
}
.a5{
  position: absolute;
  background: transparent;
  width: 0;
  height: 0;
  border-bottom: 35px solid #ffffff;
  border-left: 22px solid transparent;
  border-right: 22px solid transparent;
  left: 1px; top: 20px;
  transform: rotate(296deg);
}